<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <!--Including header-->
        <%- include('_header'); %>

        <!--Variable part-->
        <%- body %>

        <!-- including footer-->
        <%- include('_footer'); %>
    </body>
</html>