<link rel="stylesheet" href="/css/user_profile.css">

<h1>ChattingSite/ProfilePage</h1>

<!-- As we set req.locals.user =req.user in set Authenticated user-->
<p><%= user.name %></p>
<p><%= user.email %></p>